{%  extends "layout.html" %}
{% block title %}
  <header class="masthead" style="background-image: url('{{ url_for('static', filename= "img/home-bg.jpg") }}'    )">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>Blog Thunder</h1>
            <span class="subheading">Experience blogging....</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->

  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
         {% for post in posts %}
        <a href="/post/{{ post.SLUG }}">{{ post.title }}</a>

        <div class="post-preview">
          <a href="/post/{{ post.SLUG }}">
            <h2 class="post-title">
                {{post.CONTENT[0:45] }}...
            </h2>
            <h3 class="post-subtitle">
                {{ post.tagline }}
            </h3>
          </a>
          <p class="post-meta">Posted by
            <a href="#">{{ post.POSTED_BY}}</a>
            on {{ post.POSTED_ON}}9</p>
        </div>
        <hr>
    {% endfor %}

        <!-- Pager -->
        <div class="clearfix">
          <a class="btn btn-primary float-left" href="{{ prev }}">&larr;Previous</a>
          <a class="btn btn-primary float-right" href="{{ next }}">Next &rarr;</a>
        </div>
      </div>
    </div>
  </div>

{% endblock %}